Торкаченко Антон,м10-112б-21

Задача 1. 
Пример описания

In [22]:
'Вывести третий символ этой строки'
row = "Lambdadambda"
print (row[2])

m

In [23]:
'Вывести предпоследний символ этой строки.'
print (row[len(row)-2])

d

In [24]:
'Вывести первые пять символов этой строки.'
for i in range (0,5):
    print(row[i])

L
a
m
b
d

In [25]:
'Вывести строку, кроме последних двух символов.'
for i in range (0,len(row)-3):
    print(row[i])

L
a
m
b
d
a
d
a
m

In [26]:
'Вывести все символы с четными индексами (считайте, что 0 - четный индекс).'
for i in range(len(row)):
    if i%2 == 0:
        print(row[i])

L
m
d
d
m
d

In [27]:
'Вывести все символы с нечетными индексами.'
for i in range(len(row)):
    if i%2 == 1:
        print(row[i])

a
b
a
a
b
a

In [28]:
'Вывести все символы в обратном порядке.'
for i in range (len(row)-1, -1, -1):
    print(row[i])

a
d
b
m
a
d
a
d
b
m
a
L

In [29]:
'Вывести все символы строки через один в обратном порядке, начиная с последнего.'
for i in range (len(row)-1, -1, -1):
    if i%2 ==1:
        print(row[i])
for i in range (len(row)-1, -1, -1):
    if i%2 ==0:
        print(row[i])

a
b
a
a
b
a
d
m
d
d
m
L

In [30]:
'Вывести длину данной строки.'
print(len(row))

12

Задача 2. Пример описания

In [ ]:
# Код писать тут